[Unit]
Description=Authentik Datenbank
After=network.target

[Container]
AutoUpdate=registry
Image=docker.io/library/postgres:12-alpine
ContainerName=at-db
EnvironmentFile=.env
Environment=POSTGRES_USER=$PG_USER
Environment=POSTGRES_PASSWORD=$PG_PASS
Environment=POSTGRES_DB=$PG_DB
Network=at.network
Volume=/var/home/administrator/volumen/authentik/db:/var/lib/postgresql/data:rw,Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
